@using MovieWebApi.Domain.POCO
@using MovieMVC.Admin.Models.Account

@model IEnumerable<AccountRolesViewModel>

@{
    ViewData["Title"] = "List of all Accounts";
}
@if (TempData["Error"] != null)
{
    <div class="col-md-12 alert alert-danger">
        <span><b>Error!</b> - @TempData["Error"] </span>
    </div>
}

<<h1>Account Roles</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FullName</td>
                <td>@user.Email</td>
                <td>@string.Join(" , ", user.Roles.ToList())</td>
                <td>
                    <a class="btn btn-primary" asp-action="Details" asp-route-userId="@user.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>